@tailwind base;
@tailwind components;
@tailwind utilities;

/* Title font */
@font-face {
  font-family: 'Li Alinur Imarat Unicode';
  src: url('/fonts/Alimur-Imarat/LiAlinurImaratUnicode.eot');
  src: url('/fonts/Alimur-Imarat/LiAlinurImaratUnicode.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Alimur-Imarat/LiAlinurImaratUnicode.woff2') format('woff2'),
    url('/fonts/Alimur-Imarat/LiAlinurImaratUnicode.woff') format('woff'),
    url('/fonts/Alimur-Imarat/LiAlinurImaratUnicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Body font */
@font-face {
  font-family: 'Kalpurush';
  src: url('/public/fonts/Kalpurush/Kalpurush.eot');
  src: url('/public/fonts/Kalpurush/Kalpurush.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Kalpurush/Kalpurush.woff2') format('woff2'),
    url('/public/fonts/Kalpurush/Kalpurush.woff') format('woff'),
    url('/public/fonts/Kalpurush/Kalpurush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Kalpurush';
}

.title-font {
  font-family: 'Li Alinur Imarat Unicode';
}
